/* ==========================
   EFEITOS E CONEXÕES
========================== */

.conexoes {
  padding: 120px 0;
  background: var(--verde-escuro);
}

.conexoes-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 70px;
}

.conexoes-title span {
  color: var(--amarelo-claro);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.conexoes-title h2 {
  color: var(--bege);
  margin-top: 16px;
  font-size: clamp(2.5rem, 4vw, 4rem);
  line-height: 1.1;
}

.conexoes-text p {
  color: var(--cinza-claro);
  line-height: 1.9;
  margin-bottom: 10px;
}

/* LISTA */

.conexoes-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.conexao-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 30px;
  background: var(--bege);
  border: 1px var(--branco);
  border-radius: 24px;
  padding: 35px;
  transition: 0.3s ease;
}

.conexao-item:hover {
  transform: translateX(8px);
  /* background: rgba(255, 255, 255, 0.08); */
}

.conexao-content h3 {
  color: var(--verde-claro);
  margin-bottom: 12px;
  font-size: 1.4rem;
}

.conexao-content p {
  color: var(--cinza-escuro);
  line-height: 1.8;
}

@media (max-width: 900px) {
  .conexoes {
    padding: 80px 0;
  }

  .conexoes-header {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .conexao-item {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .conexao-number {
    font-size: 1.5rem;
  }
}
