.proposito-top {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 60px;
  align-items: center;
  margin-bottom: 80px;
}

/* TEXTO */

.proposito-text h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.proposito-text p {
  max-width: 650px;
  font-size: 1.2rem;
}

/* IMAGENS */

.proposito-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.proposito-images img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 18px;
}

/* Duas quadradas */

.img-1,
.img-2 {
  aspect-ratio: 1 / 1;
}

/* Horizontal ocupando toda a largura */

.img-3 {
  grid-column: 1 / -1;
  height: 220px;
}

/* PILARES */

.pilares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  text-align: center;
}

.pilar h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4d2b1f;
}

.pilar p {
  max-width: 350px;
  margin: auto;
}

.pilar:nth-child(1) {
  transition-delay: 0.2s;
}

.pilar:nth-child(2) {
  transition-delay: 0.8s;
}

.pilar:nth-child(3) {
  transition-delay: 1.4s;
}

.pilar-icon {
  width: 90px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 25px;

  border-radius: 50%;

  background: rgba(22, 52, 31, 0.08);

  transition: 0.4s ease;
}

.pilar-icon i {
  font-size: 2.3rem;
  color: var(--primary);
}

.pilar:hover .pilar-icon {
  transform: scale(1.08);
}

.pilares {
  position: relative;
}

.pilares::before {
  content: "";

  position: absolute;

  top: 45px;
  left: 15%;

  width: 70%;
  height: 1px;

  background: rgba(22, 52, 31, 0.15);
}
/* RESPONSIVO */

@media (max-width: 992px) {
  .proposito-top {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .pilares {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .proposito-text h2 {
    font-size: 2.5rem;
  }

  .proposito-images {
    grid-template-columns: 1fr;
  }

  .img-3 {
    grid-column: auto;
  }

  .img-1,
  .img-2,
  .img-3 {
    aspect-ratio: 16 / 9;
    height: auto;
  }
}
